<!doctype html>
<html>
  <head>
    <title>Available Exchanges</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-HcJ0D0Lh8NQvKG6gKAfXldu1AYbVyxfFj5cZreQLZ/c35Pk9SJXnump6U9ivhUvB"
      crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Available Exchanges</h1>
      <ul class="list-group">
        {% for exchange in exchanges %}
          <li class="list-group-item">{{ exchange }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-jH8W/QZlJhZi3q9XoJi8TzPlF+tCkIq3e6MHv1nvB4czRJUEf6UZD9zY0fMBa2+c"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
  </body>
</html>
